<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <!-- Twitter Streaming API settings.  Replace Twitter OAuth settings with your own -->
    <add key="oauth_consumer_key" value="	yNbqLP0mOFbWNIADsfLtN240O" />
    <add key="oauth_consumer_secret" value="tan2lRshZSNWfkNICxGWhZ8NNacT8tFkfQI8OfpLTHZpZYmish" />
    <add key="oauth_token" value="383587628-1aEL9WwW28P1Z8I5lhtDAER9a3MAnFQ557ykQ7kO" />
    <add key="oauth_token_secret" value="	GIBlFa8RpiLYPEo9hYHeIHkONeDuqwafrHhoopbDOiU9n" />
    
    <!-- Enter keywords, hashtags, or handles here.  Use comma to separate multiple entries -->
    <add key="twitter_keywords" value="Bernie, Sanders, Hillary, Clinton, Donald Trump, Ted, Cruz, Marco, Rubio" />
    
    <!-- Service Bus specific app setings for messaging connections -->
    <add key="EventHubConnectionString" value="Endpoint=sb://sensdattwittersentiment.servicebus.windows.net/;SharedAccessKeyName=Manage;SharedAccessKey=VtrDYJ8DrMd2jQfh8SvPrl5rZPiomykRUEK7ZPRqctE=" />
    <add key="EventHubName" value="demo"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>
